<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <style type="text/tailwindcss">
        #logo {
            font-family: 'DM Sans', sans-serif;
        }
    </style>
</head>


<body class="bg-gray-100 flex flex-col">
    <div>

        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Create your account</h2>
        <p class="mt-2 text-center text-sm text-gray-600 max-w">
            Already registered?
            <a href="{% url 'login' %}"
                class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500">Sign
                in</a>
        </p>
    </div>

    <div class="bg-white mt-8 mb-5 w-[500px] mx-auto rounded-lg shadow-lg">
        <form method="POST" action="" class="flex flex-col px-10 py-8">
            {% csrf_token %}

            <label class="text-sm font-medium text-gray-700">Username</label>
            {{form.username}}

            <label class="text-sm font-medium text-gray-700 mt-4">Email Address</label>
            {{form.email}}

            <label class="text-sm font-medium text-gray-700 mt-4">Password</label>
            {{form.password1}}

            <label class="text-sm font-medium text-gray-700 mt-4">Password Confirmation</label>
            {{form.password2}}
            <input type="submit" value="Sign Up" class="cursor-pointer bg-indigo-600 rounded-md shadow-sm py-2 px-4 text-white mt-3 hover:bg-indigo-700">
        
            {{form.errors}}
        </form>
    </div> 

    <h1 id="logo" class="font-bold text-2xl text-center">MovieZone</h1>

    <script>

        let username = document.getElementById("id_username")
        username.classList.add("px-3", "py-2", "mt-1", "rounded-lg", "border", "border-gray-300", "focus:border-indigo-500", "focus:outline-none", "focus:ring-1", "focus:ring-indigo-500", "shadow-sm")

        let email = document.getElementById("id_email")
        email.classList.add("px-3", "py-2", "mt-1", "rounded-lg", "border", "border-gray-300", "focus:border-indigo-500", "focus:outline-none", "focus:ring-1", "focus:ring-indigo-500", "shadow-sm")

        let password1 = document.getElementById("id_password1")
        password1.classList.add("px-3", "py-2", "mt-1", "rounded-lg", "border", "border-gray-300", "focus:border-indigo-500", "focus:outline-none", "focus:ring-1", "focus:ring-indigo-500", "shadow-sm")

        let password2 = document.getElementById("id_password2")
        password2.classList.add("px-3", "py-2", "mt-1", "rounded-lg", "border", "border-gray-300", "focus:border-indigo-500", "focus:outline-none", "focus:ring-1", "focus:ring-indigo-500", "shadow-sm")

        let labels = document.getElementsByClassName("label")

        for (let i = 0; i < labels.length; i++) {
            console.log(labels[i]);
        }

        let errorlist = document.getElementsByClassName("errorlist")[0]
        console.log(errorlist)
        errorlist.classList.add("font-medium", "text-sm", "text-red-600", "mt-3")

    </script>
</body>

</html>