
<nav class="sticky top-0 z-10 bg-white backdrop-filter backdrop-blur-xl bg-opacity-50 shadow-lg">

    <div class="flex mx-auto px-4 items-center  h-16">
        <a href="/">
            <h1 class="font-semibold text-2xl">MovieZone</h1>
        </a>    

        <form method="GET" action="{% url 'search' %}" class="ml-44">
            <input type="text" class="rounded-full p-2 w-96 outline-1 outline-gray-300" name="query" placeholder="Search...">
            <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
        </form>

        {% if request.user.is_authenticated %}
            <p class="ml-[600px]">Hello, {{request.user.username}}</p>
            <a href="{% url 'logout' %}" class="ml-5">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Sign Up</a>
        {% endif %}
    </div>

</nav>