{% extends 'main.html' %}

{% block content %}

<div class="home-container flex">

    <!-- Sidebar -->
    <div class="sidebar w-1/5 pl-[72px] pt-16 font-semibold text-gray-500 text-lg">
        
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            <a href="/">
                <h3 class="transition duration-500 pb-5">Home</h3>
            </a>
        </div>
        
        {% if q == "trending" %}
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1 mr-1" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
            </svg>
            <a href="{% url 'home'  %}?q=trending">
                <h3 class="transition duration-500 text-black pb-5 hover:text-black">Trending</h3>
            </a>
        </div>
        {% else %}
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1 mr-1" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
            </svg>
            <a href="{% url 'home'  %}?q=trending">
                <h3 class="transition duration-500 pb-5 hover:text-black">Trending</h3>
            </a>
        </div>
        {% endif %}

        {% if q == "popular" %}
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1 mr-1" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
            </svg>
            <a href="{% url 'home'  %}?q=popular">
                <h3 class="transition duration-500 pb-5 text-black hover:text-black">Popular</h3>
            </a>
        </div>
        {% else %}
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1 mr-1" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
            </svg>
            <a href="{% url 'home'  %}?q=popular">
                <h3 class="transition duration-500 pb-5 hover:text-black">Popular</h3>
            </a>
        </div>
        {% endif %}

        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1 mr-1" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <a href="{% url 'home'  %}?q=Friends">
                <h3 class="transition duration-500 pb-5 hover:text-black">Friends</h3>
            </a>
        </div>
    </div>

    <div class="w-4/5 mt-5 flex flex-col gap-3 mb-5 ml-5 overflow-scroll">
        {% for result in results %}
        <a href="{% url 'movies' result.id %}" class="flex bg-white rounded-lg shadow-lg gap-3 h-36 mr-52">
            <div class="mb-5 mt-3 overflow-hidden">
                <p class="text-lg font-semibold">{{result.title}}</p>
                {% if result.year is not None %}
                <p class="release_date text-md text-gray-500 pb-3">{{result.year}}</p>
                {% endif %}
                <p class="font-normal text-gray-700 dark:text-gray-400 truncate pb-8">{{result.overview}}</p>
            </div>
        </a>
        {% endfor %}
    </div>

</div>

{% endblock content %}