{% extends 'main.html' %}

{% block content %}

<style type="text/tailwindcss">

</style>

<!-- Header section -->

<div class="absolute overflow-hidden h-[600px]">
    <img src="https://images.tmdb.org/t/p/w1280/{{movie_details.backdrop_path}}" class="w-screen h-auto opacity-[0.4]"
        alt="">
</div>
<div class="grid grid-flow-col overflow-hidden h-[600px] backdrop-blur-md">

    <img src="https://images.tmdb.org/t/p/w1280/{{movie_details.poster_path}}"
        class="relative w-80 ml-28 mt-16 mb-12 rounded-lg shadow-2xl" alt="poster" loading="lazy">
    <div class="mt-20 ml-12">
        <p class="font-bold text-4xl">{{movie_details.title}}</p>
        <p class="italic mb-3">{{movie_details.tagline}}</p>
        <p class="font-semibold text-lg">Overview</p>
        <p>{{movie_details.overview}}</p>
    </div>
</div>

<!-- Cast -->
<section>
    <h1 class="font-semibold text-2xl ml-28 mt-7">Cast</h1>
    <div class="grid grid-flow-col auto-cols-[13.5%] overflow-x-auto space-x-4 pb-8 pr-7 ml-24 mt-7 mr-24">
        {% for person in movie_cast %}
        <a href="{% url 'person' person.id %}"
            class="bg-white rounded-lg shadow-xl ml-4 transition duration-300 hover:scale-105 mt-2">
            {% if person.profile_path is not None %}
            <div class="w-full h-44 overflow-hidden">
                <img src="https://images.tmdb.org/t/p/w1280/{{person.profile_path}}" class="rounded-t-lg"
                    alt="profile image" loading="lazy">
            </div>
            {% else %}
            <img src="" class="w-52" loading="lazy">
            {% endif %}
            <p class="font-bold text-center ml-2 mr-2 mt-2">{{person.name}}</p>
            <p class="text-sm text-center mt-0.5 text-gray-600 ml-2 mr-2 pb-5">{{person.character}}</p>
        </a>
        {% endfor %}
    </div>
</section>

<!-- Reviews section -->
<section>
    <h1 class="font-semibold text-2xl ml-28 mt-7">Social</h1>
    <p id="response"></p>

    <div>
        {% if request.user.is_authenticated %}
        <form id="review-form">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Write your review here..." id="">
        </form>
        {% endif %}
    </div>

    <div id="replies" class="replies">
        {% for review in reviews %}
        <h3><a href="{% url 'profile' review.user.id %}">@{{review.user.username}}</a> - {{review.created | timesince}} ago
            {% if request.user == review.user %}<a href="{% url 'delete_review' review.id %}">Delete</a>{% endif %}</h3>
        <p>****{{review.body}}</p>
        {% for reply in review_replies %}
        {% if reply.parent_review.id == review.id %}
        <h3>****@{{reply.user.username}} replied to @{{reply.parent_review.user.username}} - {{reply.created | timesince}}
            ago </h3>
        <p>****{{reply.body}}</p>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <hr>
    </div>


</section>

<script>

    // Get the csrf token cookie

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let csrftoken = getCookie('csrftoken');

    // Set the necessary values

    let form = document.getElementById('review-form');
    let movie_id = window.location.pathname.split("/")[2]
    let url = `http://${window.location.hostname}:${window.location.port}/api/new_review/`;

    
    form.addEventListener('submit', (event) => {
        
        
        event.preventDefault();
        
        let body = `body=${event.target.body.value}&movie_id=${movie_id}`;
        
        // Send the POST request
        const xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        xhr.onload = function() {
            const data = JSON.parse(this.responseText);
            const new_reply = document.getElementById('replies');
            new_reply.insertAdjacentHTML('beforebegin', `
                <div>
                    <h3>@${data.user.username} - ${data.created} ago</h3>
                    <p>****${data.body}</p>
                </div>
            `)
        }

        xhr.send(body);

        form.reset();
    })



</script>

{% endblock content %}